In [ ]:
import pandas as pd
import numpy as np

In [ ]:
sd=pd.read_csv(r"C:\Users\HP\Downloads\customer_shopping_behavior.csv")
sd.head(10)

In [ ]:
sd.describe( include='all')

In [ ]:
#No of colums and rows
sd.shape

In [ ]:
# to check missing values in data
sd.isnull().sum()

In [ ]:
# change missing value with their mean 
sd.groupby('Category')['Review Rating'].mean()

In [ ]:
sd['Review Rating']=sd.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [ ]:
sd.isnull().sum()

In [ ]:
# make all columns name in lower case and replace space with underscore
sd.columns=sd.columns.str.lower()
sd.columns=sd.columns.str.replace(" ","_")
sd

In [ ]:
sd=sd.rename(columns={'purchase_amount_(usd)':'purchase_amount'})
sd

In [ ]:
# create new column age_group 
label=['Young_Adult','Adult','Middle_aged','Senior']
sd['age_group']=pd.qcut(sd.age,q=4, labels=label)
sd

In [ ]:
sd[['age','age_group']].head(10)

In [ ]:
# create column frequency_of_purchases_days (convert words into numbers format).
sd.frequency_of_purchases.unique()

In [ ]:
frequency={
    'Fortnightly':14,
    'Weekly':7,
    'Monthly':30,
    'Quarterly':90,
     'Bi-Weekly':14,
     'Annually':356,
     'Every 3 Months':90
}
sd['Frequency_in_Days'] = sd['frequency_of_purchases'].map(frequency)
sd.head(10)

In [ ]:
sd[['discount_applied','promo_code_used']].head(10)

In [ ]:
# discount_appied and promo_code_used columns are same , we dont need promo_code_used columns 
(sd['discount_applied']==sd['promo_code_used']).all()

In [ ]:
sd=sd.drop('promo_code_used',axis=1)

In [ ]:
sd.columns

In [ ]:
# load data into sql server
import sqlalchemy as sal

In [ ]:
engine=sal.create_engine('mssql://LAPTOP-90MMJNNL/abhi?driver=ODBC+Driver+17+For+SQL+Server')
conn=engine.connect()

In [ ]:
sd.to_sql('analytics',con=conn,index=False,if_exists='replace')